.containerSkills {
  display: block;
  margin: 0 5%;
  padding: 30px 0;
}

.container {
  align-content: center;
}

.contentSkills {
  display: block;
  margin: 0 15%;
}
.topicSkills {
  color: rgb(125, 121, 121);
  font-weight: 700;
  text-align: center;
}

.topicHead {
  text-align: left;
  color: rgb(125, 121, 121);
  font-weight: 700;
}

.topicSkill {
  text-align: left;
  color: rgb(125, 121, 121);
  font-weight: 700;
  padding-left: 3rem;
}

.languages {
  text-align: left;
  color: rgb(125, 121, 121);
  font-weight: 400;
  padding-left: 6rem;
}

@media screen and (max-width: 1024px) {
  .contentSkills{
    display: block;
    margin: 0 0%;
  }

}
