.containerEducation {
  margin: 0 5%;
  padding: 30px 0;
}

.topicEducation {
  color: rgb(125, 121, 121);
  font-weight: 700;
  text-align: center;
}

.contentEducation {
  display: block;
  justify-content: center;
}

.timeLine{
  display: flex;
  align-content: stretch;
}
.timeLine:last-of-type .line {
  display: none;
}
.pipe {
  display: flex;
  flex-direction: column;
}

.circle {
  width: 20px;
  height: 20px;
  background: rgb(125, 121, 121);
  border-radius: 20px;
}

.line {
  background: rgb(125, 121, 121);
  flex: 1;
  width: 2px;
  margin: auto;
}

.textContent {
  padding:  0 16px 16px 16px;
  width: 50%;
}

.textYear {
  text-align: right;
  color: rgb(125, 121, 121);
  font-weight: 700;
  padding-bottom: 40px;
  margin: 0;
}

.textStudy {
  text-align: left;
  color: rgb(125, 121, 121);
  font-weight: 400;
  margin: 0;
}

.whiteSpace{
  white-space: nowrap;
}

.educationMobile{
  display: none;
}

@media screen and (max-width: 685px) {
  .contentEducation{
    display: none;
  }

  .educationMobile{
    display: block;
    margin: 0 15%;
  }

  .textYear{
    text-align: left;
    padding-bottom: 20px;
  }

  .textStudy{
    padding-bottom: 20px;
  }

  .textContent{
    width: 100%;
  }

  .timeLine:last-of-type .line {
    display: flex;
  }

}




