.nav {
  overflow: hidden;
  background-color: rgb(224, 247, 250);
  justify-content: center;
  z-index: 1;
  width: 100%;
  position: fixed;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 0%), 0 5px 45px 0 rgb(0 0 0 / 20%);
}


.containerNav {
  display: flex;
  margin: 0 15%;
  justify-content: space-between;
}


.siteTitleLeft {
  display: flex;
  justify-content: left;
}

.siteTitleLeft a {
  float: left;
  display: block;
  color: rgb(125, 121, 121);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.siteTitleRight {
  display: flex;
  justify-content: right;
}

.icon {
  display: none;
}

.siteTitleRight a {
  float: left;
  /*display: block;*/
  color: rgb(125, 121, 121);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.containerNavMobile {
  display: none;
}


@media screen and (max-width: 1024px) {
  .containerNav {
    margin: 0 10%;
  }

}

@media screen and (max-width: 1000px) {
  .containerNav {
    margin: 0 2%;
  }
}


@media screen and (max-width: 746px) {

  .icon {
    display: flex;
    align-content: center;
    align-items: center;
  }

  .icon a {
    color: rgb(125, 121, 121);
  }

  .siteTitleRight {
    display: none;
  }

  .containerNavMobile {
    display: block;
  }

  .row {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .row a {
    color: rgb(125, 121, 121);
    margin: 14px calc(16px + 2%);
  }

  .nonActive {
    display: none;
  }

  .anchor{
    padding-right: 1rem;
  }

}
