.nav {
  overflow: hidden;
  background-color: rgb(224, 247, 250);
  justify-content: center;
  z-index: 1;
  width: 100%;
  position: fixed;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 0%), 0 5px 45px 0 rgb(0 0 0 / 20%);
}


.container-nav {
  display: flex;
  margin: 0 15%;
  justify-content: space-between;
}


.site-title-left {
  display: flex;
  justify-content: left;
}

.site-title-left a {
  float: left;
  display: block;
  color: rgb(125, 121, 121);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.site-title-right {
  display: flex;
  justify-content: right;
}

.icon {
  display:none;
}

.site-title-right a {
  float: left;
  /*display: block;*/
  color: rgb(125, 121, 121);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container-nav-mobile{
  display:none;
}


@media screen and (max-width: 1024px) {
  .container-nav {
    margin: 0 10%;
  }

}

@media screen and (max-width: 820px) {
  .container-nav {
    margin: 0 2%;
  }}


@media screen and (max-width: 746px) {

  .icon {
    display:flex;
    align-content: center;
    align-items: center;
  }

  .icon a {
    color: rgb(125, 121, 121);
  }

  .site-title-right {
    display: none;
  }

  .container-nav-mobile{
    display: block;
  }

  .row{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .row a{
    color: rgb(125, 121, 121);
    padding: 14px 50px;
  }

  .non-active {
    display: none;
  }

}